{% extends "base.html" %} {% load static %} {% block title %}My Blog{%endblock%}
{% block content %}
<header id="main-navigation">
  <h1><a href="">Satria's Blog</a></h1>
  <nav>
    <a href="">All Posts</a>
  </nav>
</header>

<section id="welcome">
  <header>
    <img src="" alt="Satria - The Author of This Blog" />
    <h2>SATRIA'S BLOG</h2>
  </header>
  <p>Hi, I am Satria and I Love to learn Python</p>
</section>

<section id="latest-post">
  <h2>My Latest Thought</h2>
  <ul>
    <li>
      <article class="post">
        <a href="">
          <img src="" alt="Mountain Hiking" />
          <div class="post__content">
            <h3>Mountain Hiking</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus necessitatibus id maiores, nobis fugiat voluptatem?
              Possimus accusantium porro quibusdam ullam blanditiis. Officia,
              modi officiis est pariatur alias delectus quasi quas.
            </p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    My goal is to make my trading system that can help me to reach my financial
    goal
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro vitae
    voluptate temporibus libero hic dolorem corrupti non alias, sunt possimus
    accusantium quam nobis quisquam, tenetur saepe quasi rem! Deleniti,
    reprehenderit.
  </p>
</section>

{% endblock %}
